/* media queries */
@media (max-width: 768px) {
    .mac-window {
      width: 90%;
    }
  
    .mac-content {
      padding: 15px;
    }
  
    footer {
      bottom: 10px;
    }
  
    .github svg {
      width: 28px;
      height: 28px;
    }
  }
  
  @media (max-width: 480px) {
    .mac-header {
      padding: 6px;
    }
  
    .mac-buttons span {
      width: 10px;
      height: 10px;
    }
  
    .mac-content {
      padding: 10px;
    }
  
    .github svg {
      width: 24px;
      height: 24px;
    }
  }